.collapsible-header,
.collapsible-body,
.collapsible,
ul.collapsible > li
{
    border: 0!important;
    background: #fff;
    box-shadow: none!important;
}

.collapsible-header
{
    font-size: 18px;
}

.collapsible-header span
{
    font-weight: bold;
}
.message {
  font-family: 'Times New Roman', Times, serif;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 30px;
  font-weight: bold;
  color: #1b9891;
}
#datesContainer {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}
.generateButton {
  display: inline-block;
}
#reportContainer
{
    margin-top: 100px;
    overflow:hidden;
    border: 1px solid black;
     border-radius: 50px 20px;
     box-shadow: 5px 8px 8px 8px #b3b3b3;
}

.row {
  border-bottom: 2px solid black;
}
.row div
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    color: #1b9891;
    line-height: 50px;
    height: 50px;
    border-left: 2px solid black;
    text-align: center;
}

.dates{
  display:table;

  width: 50%;
  margin: 0 auto;
}
.dates div{
  font-size: 18px;
  display:table-cell;
  padding-left: 10px;
}

.dates div input,
.dates div label {
  font-size: 18px;
}

 100% { transform: rotate(360deg); }
}
