<div class="row">
  <div class="col s12 m12">

  <table class="responsive-table highlight">
    <tbody>

      <% locals.messages.forEach(msg => { %>
        <tr id="<%= msg.id %>" >
          <td>
            <label>
                <input class="tableCheckBox" type="checkbox" />
                      <span></span>
                    </label>
          </td>
          <td>
            <span class="fromMail"><%= msg.From.match(/[^<]*/) %></span>

          </td>
          <td>
            <div class="bodyMail" >
              <span class="subject"><%= msg.Subject %></span>
              <span class="body" style="color: grey;"><%= msg.snippet %></span>
            </div>
          </td>

          <td> <i class="attachmentMail"></i> </td>
          <td> <span class="dateMail"></span>
            <%= msg.Date %>
          </td>
        </tr>
        <%  }) %>

    </tbody>
  </table>
  </div>
</div>
