<ul style="display: inline-block; padding-left: 100px;  " class="pagination">
   <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
   <li class="waves-effect"> <span>1-20</span> </li>
   <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
 </ul>
