<!-- Modal Structure -->
<div id="msgModal" class="modal" style="">
  <form id="sendMsgForm">
    <div class="modal-content">
      <h4>New Email</h4>
      <div id="modalFields" class="row">

          <div class="input-field col s12">
            <input id="to-email" placeholder="To" id="toEmail" type="text" required>
            <label for="toEmail" style="width:100%; background-color:">To  <a id="ccMails" class="btn-floating btn-small waves-effect waves-light red" style="float: right"> Cc</a></label>

          </div>
          <div class="input-field col s12">
            <input id="email-subject" placeholder="Subject" id="subjectEmail" type="text" required>
            <label for="subjectEmail">Subject</label>
          </div>
          <div class="input-field col s12">
            <span id="for-email-body">Textarea</span>
            <div contenteditable="true" id="email-body" style=" min-height: 150px; border: 1px solid black"></div>
          </div>



      </div>
      <div class="row">
        <div class="attacmentsContainer left-align collection">

        </div>
      </div>
    </div>

    <div class="row">
      <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat"> <i class="material-icons">delete_sweep</i></a>
      <label id="imageUploadLabel" for="videoUpload">  <a class="waves-effect waves-green btn-flat"> <i class="material-icons">attach_file</i></a></label>

        <button id="sendMailBtn" class="  waves-effect waves-green btn-flat" type="submit">Send</button>
      </div>
    </div>
  </form>
  <input type="file" id="videoUpload" name="videoUpload" style="opacity: 0; " >
</div>
