<section id="msgContainer" class="grey lighten-3">

  <div class="Subject">
    <span id="msgSubject"></span>
  </div>
  <hr>
  <div class="from">
    <span>FROM: </span>
    <span id="msgFrom"></span>
    <span id="msgDate" style="float:right"></span>
  </div>
  <div class="msgBody">

  </div>
</section>
