
main,
footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  main,
  footer {
    padding-left: 0;
  }
}

ul.sidenav.sidenav-fixed {
  overflow: hidden;
  margin-top: 70px;

}

nav {
  height: 70px;
}

.nav-wrapper a,
i {
  color: #F33200;
}

nav .input-field .prefix.active {
  color: #F33200;
}

nav .input-field input[type=text]:focus {
  border-bottom: 1px solid #F33200 !important;
  box-shadow: 0 1px 0 0 #F33200 !important;
}

.msgManageWrapper {
  display: table;
  width: 100%;
  height: 70px;
  background-color: ;
}

.msgManageBttn {
  vertical-align: middle;
  display: table-cell;
}

.msgManageBttn label>span {
  color: transparent;
}

.msgManageBttn>a {
  width: 110px;
  margin-right: 30px
}

#moreMsgOption {
  float: right;
}

.msgManageBttn i {
  color: white;
}

.msgManageBttn ul i {
  color: red;
}
#msgManageCheckBox {}

#msgDropDown {
  margin-left: -60px
}

#msgDropDown i {
  color: white;
  margin-left: 40px;
}

#dropdownSelectMsg li a,
#dropdownMoreMsg li a {
  color: grey;
}


.tableCheckBox[type="checkbox"]:checked+span:not(.lever):before {
  border-right: 2px solid red;
  border-bottom: 2px solid red;
}


.whiteCheckbox[type="checkbox"]:checked+span:not(.lever):before {
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

/* table td div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
} */

#inboxLabel span, #draftLabel span {
  background-color: grey;
  color: white;
  font-size: 13px;
  border-radius: 30%;
  padding-left: 5px;
  padding-right: 5px;
}

.sidenav li > a{
  font-size: 17px;
}

.Subject {
  font-size: 20px;
  font-weight: 900;
}


textarea.materialize-textarea {

    min-height: 15rem;

}

.loader {
position: absolute;
top :0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
}

.circle-clipper .circle {
    border-width: 6px;
}
