<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>PR</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <link rel="stylesheet" href="style/style.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
  </script>
  <script type="text/javascript" src="jsScript.js">
  </script>

</head>

<body>


  <% let skipFirstLine = 0 %>
   <% function createRecursiveCollapsible(arr) { %>
     <%  if(!arr[0]) {%>
       <% return true; }%>
         <ul class="collapsible" data-collapsible="expandable" style="padding-left: 30px">

           <% arr.forEach((elem) => { %>
             <% if(skipFirstLine !== 0){ %>
               <hr>
               <% } skipFirstLine++; %>
                 <li>
                   <div class="collapsible-header"
                    <% if(elem.childs[0]) { %> onclick="iconImage(this)" <%  } %>><i class="material-icons">
               <% if(elem.childs[0]) { %>
                 add_box
             <%  } %>
               </i>
                     <%= elem.name %>
                       <span style="float:right">
                   <%= elem.total.toFixed(2) %>
                 </span>
                   </div>
                   <div class="collapsible-body">

                     <% createRecursiveCollapsible(elem.childs) %>


                   </div>
                 </li>
                 <% }); %>
         </ul>
         <% } %>

            <div class="container" id="datesContainer">
              <div class="message">
                TOTAL BY CATEGORIES
              </div>
              <form action="/generate" method="post" id="form1">
                <div class="dates">
                  <div class="">
                    <label for='fromDate'>FROM</label>
                    <input id="fromDate" type="date" name="fromDate" value="">
                  </div>
                  <div class="">
                    <label for='toDate'>TO</label>
                    <input id="toDate" type="date" name="toDate" value="">
                  </div>

                </div>
              </form>


              <div class="generateButton">
                <button class="btn waves-effect waves-light" type="submit" form="form1">GENERATE</button>
              </div>
            </div>


            <% if(data) { %>
              <div class="container" id="reportContainer">

                <div class="row" id="tableHeader">
                  <div class="col s8">NAME</div>

                  <div class="col s4">TOTAL</div>
                </div>

                <% createRecursiveCollapsible(data) %>

              </div>
              <% }%>

    <footer style="height= 50px;"></footer>
</body>

</html>
