<!DOCTYPE html>
<html>
<%- include("partials/head") %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
<style media="screen">
body {
  background: #abbaab;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
  font-family: 'Acme', sans-serif;
}
</style>
<body class="center-align" style="paddi">

<h1 style="color: #263238   " >GMAIL CLIENT</h1>
<div class="" style="padding-top: 200px;">
<span> <h1></h1> </span>
<a href="/login/google" class=" btn-floating btn-large red pulse" style="width:100px; height:100px;">
  <i style="padding-top:20px; font-size: 3em;" class="far fa-envelope"></i>
 </a>

 <h1 style="color: #263238 ">LOG IN</h1>
 <h1 style="color: #263238 ">TO CONTINUE!</h1>
</div>



</div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>

</html>
