<!DOCTYPE html>
<html>

<%- include("partials/head") %>

  <body>

    <!-- NAVBAR!!!!!! -->
    <header>
      <div class="navbar-fixed">
        <nav class="white">
          <div class="nav-wrapper">
            <!-- <a href="#" class="brand-logo right" style="background-color: green">HELLO, User</a> -->
            <a href="collapsible.html" class="brand-logo right">USER</a>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="left hide-on-med-and-down" style=" height: 100%">
              <li><a href="collapsible.html" class="">Mail Client</a></li>
              <li style="width: 1000px; padding-left: 25%; ">

                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="autocomplete-input" class="autocomplete">
                    <label for="autocomplete-input">Search</label>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <!-- SIDENAV!!!!!!!!!!! -->

    <ul id="slide-out" class="sidenav sidenav-fixed">
      <li><a class="modal-trigger" href="#msgModal"><i class="material-icons">cloud</i>New email</a></li>

      <li>
        <div class="divider"></div>
      </li>
      <li id="inboxLabel" class="active" style=""><a class="waves-effect">Inbox  <span><%= locals.inbox %></span> </a></li>
      <li id="sentLabel"><a class="waves-effect">Sent mail </a></li>
      <li id="draftLabel"><a class="waves-effect">Drafts <span><%= locals.draft %></span> </a></li>
      <li><a class="waves-effect" href="#!">More</a></li>
    </ul>





    <!-- MAIN!!!!! -->
    <main>
      <section>
        <div class="row">
          <div class="col s12 msgManageWrapper center-align" style="">
            <div class="msgManageBttn">

              <label>
          <input type="checkbox" class="whiteCheckbox"/>
          <span style="">_</span>
        </label>
              <a id="msgDropDown" class='grey lighten-1 dropdown-selectMsg btn' href='#' data-target='dropdownSelectMsg'><i class="material-icons">arrow_drop_down</i></a>

              <a class="waves-effect waves-light btn yellow darken-2"><i class="material-icons">autorenew</i></a>
              <a class="waves-effect waves-light dropdown-moreMsg btn red" href='#' data-target='dropdownMoreMsg'>more<i id="moreMsgOption" class="material-icons" >arrow_drop_down</i></a>
              <%- include("partials/pagination") %>
            </div>


          </div>

        </div>
        <!-- Dropdown Structure -->
        <ul id='dropdownSelectMsg' class='dropdown-content'>
          <li><a href="#!">All</a></li>
          <li><a href="#!">None</a></li>
          <li><a href="#!">Read</a></li>
          <li><a href="#!">Unread</a></li>
        </ul>
        <!-- Dropdown Structure -->
        <ul id='dropdownMoreMsg' class='dropdown-content'>
          <li><a href="#!">Mark all as read</a></li>
          <li><a href="#!">.....</a></li>

        </ul>
      </section>


    <div class = "preloader-wrapper big active loader">

    </div>


      <%- include("partials/containers/tableContainer") %>

        <%- include("partials/containers/msgContainer") %>
          <%- include("partials/sendMsgModal") %>

    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/main.min.js"></script>

    <script type="text/javascript">
      $(document).ready(() => {
        // Initialize collapse button
        $(".sidenav").sidenav();

        $('input.autocomplete').autocomplete({
          data: {
            "Apple": null,
            "Microsoft": null,
            "Google": 'https://placehold.it/250x250'
          },
        });

        $('.dropdown-selectMsg').dropdown({
          coverTrigger: false
        });
        $('.dropdown-moreMsg').dropdown({
          coverTrigger: false,
          constrainWidth: false
        });


      });
    </script>
  </body>

</html>
